<header>
                <img src="images/logo.jpg" style="max-width:80px">
                <a class="toggle">Menu</a>
                <ul class="">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="quemsomos.html">Quem Somos</a></li>
                    <li><a href="produtos.html">Produtos</a></li>
                    <li><a href="promocao.html">Promoções</a></li>
                    <li><a href="contato.html">Fale Conosco</a></li>
                </ul>
            </header>
            <div class="aocentro">
                <h1>Quem Somos</h1>
                <p>A MG Distribuidora, uma empresa familiar, fundada em 2013, pela empresaria Monica Garcia e seu sócio Eduardo.
    			Sua especialidade é a distribuição produtos para tratamento capilar
    			com conceitos diferenciados para o segmento de salões de beleza,disponibilizados em linhas profissionais
    			e de manutenção, para as clientes estenderem a experiência do tratamento em seus lares.</p>
    
    			<p>Com produtos inovadores, matérias-primas importadas de última geração e
    			tecnologia de ponta oferecida por nossos fornecedores, temos conquistado os profissionais
    			da beleza pelo resultado que proporcionamos através dos produtos que fornecemos,
    			todos com excelência em qualidade.</p>
    
    			<p>O sucesso, claro, é também fruto de constantes aprimoramentos nos processos industriais
    			e de excelentes práticas de produção das empresas que representamos.
    			Empresas essas, que investem em profissionais especializados, infraestrutura e equipamentos
    			que asseguram a precisão dos testes realizados são prioridade para nós.
    			Cuidados ao selecionar, adquirir e armazenar a matéria-prima são ações decisivas para a
    			garantia da qualidade que fazem toda a diferença na hora de ecolhermos as empresas
    			para iniciarmos uma pareceria.</p>
    
    			<h3>Visão</h3>
    
    			<p>Se tornar a maior e melhor Distribuidora de cosméticos capilares do Litoral Paulista.</p>
    
    			<h3>Missão</h3>
    
    			<p>Oferecer produtos de máxima qualidade destinados aos profissionais da beleza e aos cabelos de seus clientes.</p>
    
    			<h3>Valores</h3>
    
    				<li class="valor"> Ética: valorização da conduta com seus parceiros e colaboradores.</li>
    				<li class="valor"> Comprometimento com o cliente: busca constante de produtos de excelência para maior satisfação dos profissionais da beleza e de seus clientes.</li>
    				<li class="valor"> Responsabilidade social: através da marca que representamos, seus produtos e serviços, conscientizar a sociedade que podemos fazer o melhor pelo próximo.</li>
                <h2>Representates das:</h2>
        		<div class="center">
            		<div class="box2" ><img class="parceiros" src="images/infinita.png" alt="Infinitá Cosméticos"></div>
            		<div class="box2" ><img class="parceiros" src="images/logokaedo.png" alt="Kaedo Cosméticos"></div>
            		<div class="box2" ><img class="parceiros" src="images/logodbianco1.png" class="on-contrast-force-white" alt="D'Bianco Professional"></div>
                </div>
            </div>
        <footer class="acentro">
            <a href="https://www.facebook.com/mgprofessionalhair" target="_blank"><img src="images/facebook.png" style="max-width:35px;margin-top:20px;margin-right:5px;"></a>
            <a href="https://www.instagram.com/mgprofessionalhair" target="_blank"><img src="images/Instagram.png" style="max-width:35px;margin-top:20px;margin-left:5px;"></a>
            <p>Site feito por Pedro Affonso</p><p>Hospedado por Cloud9(c9.io)<p>
        </footer>
