<html>
    <body>
<header>
                <img src="images/logo.jpg" style="max-width:80px">
                <a class="toggle">Menu</a>
                <ul class="">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="quemsomos.html">Quem Somos</a></li>
                    <li><a href="produtos.html">Produtos</a></li>
                    <li><a href="promocao.html">Promoções</a></li>
                    <li><a href="contato.html">Fale Conosco</a></li>
                </ul>
            </header>
            <div class="aocentro">
                <h1>Home</h1>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script src="/js/responsiveslides.min.js"></script>
            <link rel="stylesheet" href="/css/responsiveslides.css">
            <script src="/js/slideauto.js"></script>
                <div class="slide">
                    <ul class="rslides" id="slider1">
                      <li><img src="images/kratos.jpg" alt=""></li>
                      <li><img src="images/kplex.jpg" alt=""></li>
                      <li><img src="images/supporthair.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        <footer class="acentro">
            <a href="https://www.facebook.com/mgprofessionalhair" target="_blank"><img src="images/facebook.png" style="max-width:35px;margin-top:20px;margin-right:5px;"></a>
            <a href="https://www.instagram.com/mgprofessionalhair" target="_blank"><img src="images/Instagram.png" style="max-width:35px;margin-top:20px;margin-left:5px;"></a>
            <p>Site feito por Pedro Affonso</p><p>Hospedado por Cloud9(c9.io)<p>
        </footer>
    </body>
</html>
